# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environments
venv/
myvenv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# Environment variables & secrets
.env
.env.*
*.env
!.env.example

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# IDEs and Code Editors
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-workspace
*.sublime-project

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Database & SQLite files
*.sqlite
*.sqlite3
*.db

# Logs
*.log
