# LangChain & LangGraph Core
langgraph>=0.2.0
langchain>=0.3.0
langchain-core>=0.3.0
langchain-openai>=0.2.0
langchain-groq>=0.2.0

# Persistence & Checkpointing
langgraph-checkpoint-postgres>=2.0.0
psycopg[binary,pool]>=3.2.0

# Environment & Data Validation
python-dotenv>=1.0.0
pydantic>=2.0.0

# Jupyter Notebook Support
ipykernel>=6.29.0

#Gemini Models
google-genai
langchain_google_genai 
